{% extends 'base.html.twig' %}

{% block title %}Categoria index{% endblock %}

{% block body %}
    <div class="container" style="background: navajowhite;border: 0;">
    <h1>Categoria</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorium.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ categorium.name }}</td>
            </tr>
        </tbody>
    </table>
	<p>
    <a class="btn btn-info w-25" href="{{ path('app_categoria_index') }}">back to list</a>
    <p>
    <p>
    <a class="btn btn-info w-25" href="{{ path('app_categoria_edit', {'id': categorium.id}) }}">edit</a>
   	<p>
    {{ include('categoria/_delete_form.html.twig') }}
    </div>
{% endblock %}
