{% extends 'base.html.twig' %}

{% block title %}Pedidos{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}
    {% if is_granted('ROLE_ADMIN') %}
    {{ form_start(form) }}
    <div class="container" style="background: navajowhite;border: 0;">
        {{ form_widget(form.order) }}
        {{ form_widget(form.total) }}
        {{ form_widget(form.estado) }}
      <p></p>
       <p></p>
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-info w-25'}}) }}
     <p></p>
     <p></p>
    <a  class="btn btn-info w-25" href="{{ path('app_pedido_index') }}">back to list</a>
    <p></p>
    </div>
    {{ form_end(form) }}
    {% else %}
    {{ form_start(form) }}
    <form  id="formElem" name="formElem" method="post" href="{{ path('app_pedido_edit', {'id': 'x'}) }}"action="" >
        <div class="container" style="background: navajowhite;border: 0;">

            <h1>Modificar Pedido</h1>
            <p></p>
            <label><h2>{{ pedido.referencia }}</h2></label>
            <p></p>
            <p></p>
            <label><h4>Cliente</h4></label>
            <p></p>
            <label><h5>{{ pedido.clientePedido }}</h5></label>
            <p></p>

            <div class="form-group">
                <h4 style="text-align: center;">Productos</h4>
                <label for="itemspedido">
                <table  name="itemspedido"id="itemspedido" class="table" style="width: 300px;margin:0 auto;align-content: center;">
                    <thead>
                    <tr>
                        <th style="width: 5%;">Producto</th>
                        <th>Imagen</th>
                        <th>Precio €</th>
                        <th>Cantidad</th>
                        <th>Total €</th>
                    </tr>
                    </thead>
                    <tbody name="items[]">
                    {% for product in productPedido %}
                        <tr>
                            <td><input name='itemm_oldname[]' value="{{product.name }}"></td>
                            <td><img height="50" src="{{ asset('images/products/') }}{{ product.imageName }}"></td>
                            <td><input name='itemm_oldnprecio[]' value="{{ product.precio }}" style="width: 100%;text-align: right"></td>
                            <td><input name='itemm_oldcant[]' value="{{ product.cantidadProducto }}"style="width: 100%;text-align: right"></td>
                            <td><input name='itemm_oldctotal[]' id="itemm_oldctotal[]" value="{{  product.precio|number_format* product.cantidadProducto|number_format  }}"style="width: 100%;text-align: right"></td>
                            <td><a class='btn btn-primary'id='btquit' onclick="quitItem(this)" style='color: #dfdfdf '>Eliminar</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </label>
                <p></p>
                <p></p>
                <label for="totalold" >
                    TOTAL  <input id="totalold" name="totalold" type="text" value="{{ pedido.total }}€"style="text-align: right" >
                </label>
            <p></p>
            <label><h4> Añadir Productos </h4></label>
            <p></p>
            <p></p>
            <p></p>
                <div class="form-group">
                    <label>
                        <label for="product" align="left">Productos</label>
                        <p></p>
                        <select for="product" id="produc" name="produc"  data-variable="{{ productos |join("|") }}" onchange="mostrarprecio()" >
                            <option value="selecciona">Selecciona un producto</option>
                            {% for producto in productos %}
                                <option  name="opc" id="opc" value="{{producto.name }};{{ asset('images/products/') }}{{ producto.imageName }};{{ producto.precio}} ">{{producto.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        <label for="imagen">Imagen</label>
                        <p></p>
                        <img id="imagen"  height="50"src="{{ asset('images/products/vacío-50.png') }}">
                    </label>
                    <label >
                        <label for="precio">Precio  €</label>
                        <p></p>
                        <input   type="text" id="precio" value="0€" />
                    </label>
                    <label >
                        <label for="cant">Cantidad</label>
                        <p></p>
                        <input name="cant" id="cant" type="number"  min="0" max="10"  value="0" onchange="multi()"/>
                    </label>
                    <label >
                        <label for="Coste">Total</label>
                        <p></p>
                        <input type="text"  id="Coste" name="Coste" value="0€" >
                    </label>
                <p></p>
                <a class="btn btn-primary" id="btn-add" onclick="add()" style="color: #dfdfdf">Añadir</a>
                <div class="form-group">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                    <label >
                        <label for="productostabla">
                        <table  name="productostabla" id="productostabla" class="table" style="width: 300px;margin:0 auto;align-content: center;"   valo>
                    <thead>
                    <tr>
                        <th>Imagen</th>
                        <th style="width: 5%;">Producto</th>
                        <th>Precio €</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody name="procustosd[]" id="body" onchange="total()">
                    </tbody>
                </table>
                        </label>
                    </label>
                <p></p>
                <p></p>
                <p></p>
                <label>
                 <label for="totalnew" >
                    TOTAL  <input  name="totalnew" id="totalnew" type="text" style="text-align: right" value="0">
                 </label>
                </label>
                </div>
                <p></p>
                <p></p>
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-info w-25'}}) }}
                    <a class="btn btn-info w-25" href="{{ path('app_pedidocliente_show',{'id': cliente.id}) }}">back to list</a>
                    {% endif %}
                    {{ include('pedido/_delete_form.html.twig') }}
                    {{ form_end(form) }}
               	  
                </div>
            </div>
        </div>
    </form>

    </div>
    {% block javascripts %}
        <script>

            function mostrarprecio() {
                var select = document.getElementById("produc").getAttribute("data-variable");
                var arrayprod = select.split('|');
                var product=document.getElementById("produc").value;
                arrayprod.forEach((prod) => {
                    var datprod=product.split(';');
                    var name=datprod[0];
                    var img=datprod[1];
                    if(prod.includes(name)) {
                        var price=datprod[2];
                        document.getElementById("precio").value = price;
                        image=document.getElementById("imagen");
                        image.setAttribute('src',img);
                    }
                });


            }
            function multi() {
                m1 = document.getElementById("precio").value;
                m2 = document.getElementById("cant").value;
                r = m1 * m2;
                coste = document.getElementById("Coste").value = r+"€";
            }
            var totprice=[];

            function add(){
                var table=document.getElementById("body");
                var product=document.getElementById("produc").value;
                var prod=product.split(';');
                var name=prod[0];
                var vacio="{{ asset('images/products/vacío-50.png')}}";
                var img=document.getElementById("imagen").getAttribute('src');
                var price=document.getElementById("precio").value;
                var cant=document.getElementById("cant").value;
                var totalprod=document.getElementById("Coste").value;
                var old=document.getElementById("totalold").value;
                totalold = old.replace(/[^0-9]+/g, "");
                var fila="<tr><td><img src="+img+" height="+50+"> </td><td><input name='prod_nameadd[]' value='"+name+"'></td><td><input name='prod_precioadd[]' value='"+price+"'style='width: 100%;text-align: right' ></td><td><input name='prod_cantadd[]' value='"+cant+"'style='width: 100%;text-align: right'></td><td><input name='prod_totaladd[]' value='"+totalprod+"'></td><td> <a class='btn btn-primary'id='btquit' onclick='quit(this)' style='color: #dfdfdf '>Eliminar</a></td></tr>";
                var btn = document.createElement("tr");
                btn.innerHTML=fila;
                document.getElementById("body").appendChild(btn);
                let precios = document.querySelectorAll(
                    "table  tr > td:nth-child(5)"
                );

                precios.forEach((pp)=>{
                    pru=pp.innerHTML;
                    num=pru.replace(/[^0-9]+/g, "");
                    precio=parseInt(num);
                });
                totprice.push(precio);
                let totnew = totprice.reduce((a, b) => a + b, 0);
                var totord=parseInt(totalold)+totnew;

                document.getElementById("totalnew").value = totord;
                document.getElementById("precio").value="0€"
                document.getElementById("cant").value = "0";
                document.getElementById("Coste").value = "0€";
                document.getElementById("produc").selectedIndex = 0;
                document.getElementById("imagen").setAttribute('src',vacio);


            }

            function quit(Id){;
                var quitTotal=[];
                let row = Id.parentNode.parentNode;
                let tab = document.getElementById("productostabla");
                tab.deleteRow(row.rowIndex);
                let precios = document.getElementsByName("prod_totaladd[]");

                precios.forEach((pp)=>{
                    pru=pp.value;
                    console.log(pru);
                    num=pru.replace(/[^0-9]+/g, "");
                    precio=parseInt(num);
                    quitTotal.push(precio);

                });
                var old=document.getElementById("totalold").value;
                totalold = old.replace(/[^0-9]+/g, "");
                let totnew = quitTotal.reduce((a, b) => a + b, 0);

                var totord = parseInt(totalold) + totnew
                document.getElementById("totalnew").value = totord +"€";
               quitTotal.length=0;
            }
            var itemTotal=[];
            function quitItem(Id) {
                let row = Id.parentNode.parentNode;
                let tabl = document.getElementById("itemspedido");
                tabl.deleteRow(row.rowIndex);
                let prices =document.getElementsByName("itemm_oldctotal[]");

                prices.forEach((pr)=>{

                    pvu=pr.value;
                    number=pvu.replace(/[^0-9]+/g, "");
                    pric=parseInt(number);
                    itemTotal.push(pric);
                });

                totalItem=itemTotal.reduce((a, b) => a + b, 0);
               console.log(totalItem);
                document.getElementById("totalold").value = totalItem +"€";
                itemTotal.length=0;
            }

        </script>

    {% endblock %}
{% endblock %}
